{% extends "base.html" %}

{% block body %}
<h1>Флеш-карточки. Предлоги.</h1>

<div id="flashcard-container">
    <div class="flashcard large-text">
            <div class="front">
                <p id="question"></p>
            </div>
            <div class="back">
                <p id="answer"></p>
            </div>
    </div>
    <button id="showCard">Показать карточку</button>
</div>

<script src="{{ url_for('static', filename='js/cards_1/flashcards_prepositions_1.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
{% endblock %}